# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.env
.env
venv/
ENV/
.venv/

# Django
*.log
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# macOS
.DS_Store

# Docker
*.pid
docker-compose.override.yml

# Migrations
*/migrations/*
!*/migrations/__init__.py

# Test coverage
htmlcov/
.coverage
.tox/

# MyPy
.mypy_cache/
.dmypy.json

# Pytest
.pytest_cache/

# Other
*.swp
.idea/